docs/n8n/cobranza-automatizacion.json
{
  "name": "Cobranza - Automatizacion",
  "nodes": [
    {
      "id": "trigger",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "parse",
      "name": "Parse Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 4,
      "position": [450, 300],
      "parameters": {
        "operation": "parseToJson",
        "fileName": "={{ $json.fileName }}"
      }
    },
    {
      "id": "map",
      "name": "Map Columnas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || [];\nconst rows = $input.first().json.data || [];\n\nconst mapping = {\n  'RFC': 'rfc',\n  'rfc': 'rfc',\n  'Nombre': 'nombre',\n  'nombre': 'nombre',\n  'Cliente': 'nombre',\n  'Monto': 'monto',\n  'monto': 'monto',\n  'Importe': 'monto',\n  'Cantidad': 'monto',\n  'Concepto': 'concepto',\n  'concepto': 'concepto',\n  'Tipo': 'concepto',\n  'Servicio': 'concepto',\n  'Fecha': 'fechaVence',\n  'fecha': 'fechaVence',\n  'Vencimiento': 'fechaVence',\n  'Telefono': 'telefono',\n  'telefono': 'telefono',\n  'Telefono': 'telefono',\n  'Email': 'email',\n  'email': 'email',\n  'Correo': 'email'\n};\n\nconst mappedRows = rows.map(row => {\n  const obj = {};\n  row.forEach((value, index) => {\n    const header = headers[index];\n    const mappedField = mapping[header];\n    if (mappedField && value !== undefined && value !== null && value !== '') {\n      obj[mappedField] = value;\n    }\n  });\n  if (obj.monto) {\n    obj.monto = typeof obj.monto === 'number' ? obj.monto : parseFloat(String(obj.monto).replace(/[$,]/g, '')) || 0;\n  }\n  return obj;\n}).filter(r => r.rfc);\n\nreturn [{ json: { headers, rows: mappedRows } }];"
      }
    },
    {
      "id": "import",
      "name": "Importar a Collecta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/import/batch",
        "bodyParameters": {
          "parameters": [
            {
              "name": "headers",
              "value": "={{ $json.headers }}"
            },
            {
              "name": "rows",
              "value": "={{ $json.rows }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "loop",
      "name": "Loop Clientes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "get_client",
      "name": "Get Cliente por RFC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/clients/by-rfc/{{ $json.rfc }}"
      }
    },
    {
      "id": "get_historial",
      "name": "Get Historial 3 meses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 400],
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/operations/cliente/{{ $json.rfc }}/historial?meses=3"
      }
    },
    {
      "id": "mensaje",
      "name": "Generar Mensaje WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "parameters": {
        "jsCode": "const client = $('Get Cliente por RFC').first().json;\nconst operations = $('Get Historial 3 meses').first().json || [];\n\nconst pendientes = operations.filter(o => !o.fechaPago);\nconst pagados = operations.filter(o => o.fechaPago);\nconst totalPendiente = pendientes.reduce((sum, p) => sum + p.monto, 0);\nconst totalPagado = pagados.reduce((sum, p) => sum + p.monto, 0);\n\nconst conceptosList = pendientes.map((p, i) => `${i + 1}. ${p.descripcion || p.tipo}: $${Number(p.monto).toLocaleString('es-MX')}`).join('\\n');\n\nconst mensaje = `*Collecta* - Recordatorio de Pago\\n\\nEstimado *${client.nombre}*, le informamos que tiene los siguiente conceptos pendientes:\\n\\n${conceptosList}\\n\\n*TOTAL PENDIENTE: $${totalPendiente.toLocaleString('es-MX', {style: 'currency', currency: 'MXN'})}*\\n\\nPara realizar su pago:\\n- Beneficiario: BajaTax Services\\n- Banco: BBVA\\n- CLABE: 012345678901234567\\n\\nHistorial de pagos (3 meses): $${totalPagado.toLocaleString('es-MX')}\\n\\nCobranzas | 6641234567`;\n\nconst telefono = client.telefono?.replace(/\\D/g, '') || '';\nconst waUrl = telefono ? `https://wa.me/52${telefono}?text=${encodeURIComponent(mensaje)}` : null;\n\nreturn [{ json: { mensaje, waUrl, telefono, cliente: client.nombre, rfc: client.rfc, totalPendiente, pendientesCount: pendientes.length } }];"
      }
    },
    {
      "id": "preview",
      "name": "Preview Mensaje",
      "type": "n8n-nodes-base.notify",
      "typeVersion": 1,
      "position": [1650, 300],
      "parameters": {
        "title": "={{ $json.cliente }} ({{ $json.rfc }})",
        "message": "={{ $json.mensaje }}"
      }
    },
    {
      "id": "whatsapp",
      "name": "Abrir WhatsApp",
      "type": "n8n-nodes-base.openUrl",
      "typeVersion": 1,
      "position": [1850, 300],
      "parameters": {
        "url": "={{ $json.waUrl }}"
      }
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Parse Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Excel": {
      "main": [
        [
          {
            "node": "Map Columnas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Columnas": {
      "main": [
        [
          {
            "node": "Importar a Collecta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Importar a Collecta": {
      "main": [
        [
          {
            "node": "Loop Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Clientes": {
      "main": [
        [
          {
            "node": "Get Cliente por RFC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cliente por RFC": {
      "main": [
        [
          {
            "node": "Get Historial 3 meses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Historial 3 meses": {
      "main": [
        [
          {
            "node": "Generar Mensaje WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Mensaje WA": {
      "main": [
        [
          {
            "node": "Preview Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Mensaje": {
      "main": [
        [
          {
            "node": "Abrir WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-01T19:00:00.000Z",
  "createdAt": "2026-04-01T19:00:00.000Z",
  "versionId": "1"
}
