docs/n8n/workflow-cobranza-optimizado.json
{
  "name": "Cobranza - Optimizado",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "2",
      "name": "Seleccionar Fuente",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [450, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.fuente }}",
        "operation": "equal",
        "value2": "excel"
      },
      "rules": {
        "cases": [
          {
            "output2": "excel",
            "operation": "equal",
            "value2": "excel",
            "output1": "excel"
          },
          {
            "output2": "pdf",
            "operation": "equal",
            "value2": "pdf",
            "output1": "pdf"
          }
        ]
      }
    },
    {
      "id": "3",
      "name": "Parse Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 4,
      "position": [650, 200],
      "parameters": {
        "operation": "parseToJson",
        "fileName": "={{ $json.fileName }}"
      }
    },
    {
      "id": "4",
      "name": "Map Columnas Excel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200],
      "parameters": {
        "jsCode": "const headers = $input.first().json.headers || [];\nconst rows = $input.first().json.data || [];\n\n// Mapeo básico de columnas comunes\nconst mapping = {\n  'RFC': 'rfc',\n  'rfc': 'rfc',\n  'Nombre': 'nombre',\n  'nombre': 'nombre',\n  'Cliente': 'nombre',\n  'Monbre': 'nombre',\n  'Monto': 'monto',\n  'monto': 'monto',\n  'Importe': 'monto',\n  'Cantidad': 'monto',\n  'Saldo': 'monto',\n  'Concepto': 'concepto',\n  'concepto': 'concepto',\n  'Tipo': 'concepto',\n  'Servicio': 'concepto',\n  'Descripcion': 'concepto',\n  'Telefono': 'telefono',\n  'telefono': 'telefono',\n  'Teléfono': 'telefono',\n  'Celular': 'telefono',\n  'Email': 'email',\n  'email': 'email',\n  'Correo': 'email'\n};\n\n// Mapear filas al formato requerido\nconst mappedRows = rows.map(row => {\n  const obj = {};\n  row.forEach((value, index) => {\n    const header = headers[index];\n    const mappedField = mapping[header];\n    if (mappedField && value !== undefined && value !== null && value !== '') {\n      obj[mappedField] = value;\n    }\n  });\n  // Convertir monto a número\n  if (obj.monto) {\n    obj.monto = typeof obj.monto === 'number' ? obj.monto : parseFloat(String(obj.monto).replace(/[$,\\s]/g, '')) || 0;\n  }\n  // Limpiar teléfono\n  if (obj.telefono) {\n    obj.telefono = String(obj.telefono).replace(/\\D/g, '');\n  }\n  return obj;\n}).filter(r => r.rfc); // Solo filas con RFC\n\nreturn { headers, rows: mappedRows };"
      }
    },
    {
      "id": "5",
      "name": "Loop Clientes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "6",
      "name": "Get Cliente Collecta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 200],
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/clients/by-rfc/{{ $json.rfc }}",
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "7",
      "name": "Get Historial Collecta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 400],
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3001/api/operations/cliente/{{ $json.rfc }}/historial?meses=3",
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "8",
      "name": "Generar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300],
      "parameters": {
        "jsCode": "// PLANTILLA DEL CLIENTE\nconst plantilla = `Estimado {CLIENTE},\\n\\nGracias por elegirnos, le hago llegar el reporte de honorarios actualizado.\\n\\nSaldo pendiente {MONTO}. Apreciamos su pronto pago:\\n\\nBeneficiario: {BENEFICIARIO}\\nInstitución: {BANCO}\\nCuenta CLABE: {CLABE}\\n\\nNo dudes en ponerte en contacto con nosotros si tienes alguna pregunta.\\n\\n¡Que tenga un excelente día!\\n\\n{PERSONA}\\n{DEPTO}\\n{TEL}\\n{EMAIL}\\n{WEB}`;\n\n// DATOS DEL DESPACHO (configurar aquí)\nconst config = {\n  beneficiario: 'Oscar Abel Zambrano Rentería',\n  banco: 'Banco Inbursa S.A.',\n  clabe: '036 028 5005 7775 7743',\n  persona: 'Fernanda Romo',\n  depto: 'Dpto. de Impuestos',\n  tel: '+52 (664) 733 8483',\n  email: 'impuestos@bajatax.com',\n  web: 'www.bajatax.com',\n  apiUrl: 'http://localhost:3001'\n};\n\n// Datos del cliente (del workflow)\nconst client = $('Get Cliente Collecta').first().json;\nconst operations = $('Get Historial Collecta').first().json || [];\n\n// Calcular totales\nconst pendientes = operations.filter(o => !o.fechaPago);\nconst pagados = operations.filter(o => o.fechaPago);\nconst totalPendiente = pendientes.reduce((sum, p) => sum + Number(p.monto || 0), 0);\nconst totalPagado = pagados.reduce((sum, p) => sum + Number(p.monto || 0), 0);\n\n// Nombre del cliente (prioridad: nombre en Collecta > nombre en Excel)\nconst nombreCliente = (client?.nombre || $input.first().json.nombre || 'Cliente').trim();\n\n// Formatear monto\nconst montoFormateado = totalPendiente > 0 \n  ? `$${totalPendiente.toLocaleString('es-MX', {minimumFractionDigits: 0, maximumFractionDigits: 0})} MXN`\n  : '$0 MXN';\n\n// Reemplazar variables en plantilla\nlet mensaje = plantilla\n  .replace(/{CLIENTE}/g, nombreCliente)\n  .replace(/{MONTO}/g, montoFormateado)\n  .replace(/{BENEFICIARIO}/g, config.beneficiario)\n  .replace(/{BANCO}/g, config.banco)\n  .replace(/{CLABE}/g, config.clabe)\n  .replace(/{PERSONA}/g, config.persona)\n  .replace(/{DEPTO}/g, config.depto)\n  .replace(/{TEL}/g, config.tel)\n  .replace(/{EMAIL}/g, config.email)\n  .replace(/{WEB}/g, config.web);\n\n// Agregar historial si hay operaciones\nif (operations.length > 0) {\n  let detalleOps = '\\n\\n--- RESUMEN DE OPERACIONES ---';\n  \n  if (pendientes.length > 0) {\n    detalleOps += '\\n*Pendiente:*';\n    pendientes.forEach(p => {\n      detalleOps += `\\n• ${p.tipo || 'Servicio'}: $${Number(p.monto || 0).toLocaleString('es-MX')}`;\n    });\n  }\n  \n  if (pagados.length > 0) {\n    detalleOps += '\\n*Pagado (3 meses):*';\n    pagados.forEach(p => {\n      detalleOps += `\\n• ${p.tipo || 'Servicio'}: $${Number(p.monto || 0).toLocaleString('es-MX')}`;\n    });\n  }\n  \n  mensaje += detalleOps;\n}\n\n// Agregar link al PDF\nconst pdfUrl = `${config.apiUrl}/api/cobranza/cliente/${$input.first().json.rfc}/pdf`;\nmensaje += `\\n\\nVer estado de cuenta: ${pdfUrl}`;\n\n// Teléfono (prioridad: teléfono en Collecta > teléfono en Excel)\nconst telefono = (client?.telefono || $input.first().json.telefono || '').replace(/\\D/g, '');\n\n// Agregar código de país si no lo tiene\nlet telefonoConCodigo = telefono;\nif (telefonoConCodigo && !telefonoConCodigo.startsWith('52')) {\n  telefonoConCodigo = '52' + telefonoConCodigo;\n}\n\n// Generar URL wa.me\nconst waUrl = telefonoConCodigo \n  ? `https://wa.me/${telefonoConCodigo}?text=${encodeURIComponent(mensaje)}`\n  : null;\n\nreturn {\n  rfc: $input.first().json.rfc,\n  nombre: nombreCliente,\n  telefono: telefono,\n  telefonoConCodigo: telefonoConCodigo,\n  totalPendiente: totalPendiente,\n  totalPagado: totalPagado,\n  pendientesCount: pendientes.length,\n  pagadosCount: pagados.length,\n  mensaje: mensaje,\n  waUrl: waUrl,\n  pdfUrl: pdfUrl,\n  clienteEncontrado: !!client\n};"
      }
    },
    {
      "id": "9",
      "name": "Agregar a Lista",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1650, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "rfc",
              "name": "rfc",
              "value": "={{ $json.rfc }}",
              "type": "string"
            },
            {
              "id": "nombre",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "telefono",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "waUrl",
              "name": "waUrl",
              "value": "={{ $json.waUrl }}",
              "type": "string"
            },
            {
              "id": "monto",
              "name": "monto",
              "value": "={{ $json.totalPendiente }}",
              "type": "number"
            },
            {
              "id": "mensaje",
              "name": "mensaje",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            },
            {
              "id": "pdfUrl",
              "name": "pdfUrl",
              "value": "={{ $json.pdfUrl }}",
              "type": "string"
            },
            {
              "id": "clienteEncontrado",
              "name": "clienteEncontrado",
              "value": "={{ $json.clienteEncontrado }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "10",
      "name": "Recolectar URLs",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1850, 300],
      "parameters": {
        "aggregate": "collect",
        "fieldToAggregate": "items",
        "includeOtherFields": true
      }
    },
    {
      "id": "11",
      "name": "Mostrar Lista URLs",
      "type": "n8n-nodes-base.notify",
      "typeVersion": 1,
      "position": [2050, 300],
      "parameters": {
        "title": "={{ $json.totalCount + ' URLs generados' }}",
        "message": "={{ $json.items }}"
      }
    }
  ],
  "connections": {
    "Trigger Manual": {
      "main": [[{"node": "Seleccionar Fuente", "type": "main", "index": 0}]]
    },
    "Seleccionar Fuente": {
      "main": [
        {"node": "Parse Excel", "type": "main", "index": 0}
      ]
    },
    "Parse Excel": {
      "main": [[{"node": "Map Columnas Excel", "type": "main", "index": 0}]]
    },
    "Map Columnas Excel": {
      "main": [[{"node": "Loop Clientes", "type": "main", "index": 0}]]
    },
    "Loop Clientes": {
      "main": [
        {"node": "Get Cliente Collecta", "type": "main", "index": 0}
      ],
      "metadata": [
        {"rfc": "={{ $json.rfc }}"}
      ]
    },
    "Get Cliente Collecta": {
      "main": [[{"node": "Get Historial Collecta", "type": "main", "index": 0}]]
    },
    "Get Historial Collecta": {
      "main": [[{"node": "Generar Mensaje", "type": "main", "index": 0}]]
    },
    "Generar Mensaje": {
      "main": [[{"node": "Agregar a Lista", "type": "main", "index": 0}]]
    },
    "Agregar a Lista": {
      "main": [
        {"node": "Recolectar URLs", "type": "main", "index": 0},
        {"node": "Loop Clientes", "type": "main", "index": 1}
      ]
    },
    "Recolectar URLs": {
      "main": [[{"node": "Mostrar Lista URLs", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-01T00:00:00.000Z",
  "versionId": "1"
}